/* Add this to center the container on the page */
body, html {
    height: 100%; /* Full height for centering */
    margin: 0; /* Remove default margin */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: #e9ecef; /* Light background color for the page */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #343a40; /* Dark color for better contrast */
    text-align: center;
}

.verify-button {
    background-color: #28a745; /* Success color for submit button */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 18px;
    width: 100%; /* Full width for buttons */
}

.verify-button:hover {
    background-color: #218838; /* Darker shade on hover */
}
